@font-face {
 font-family: "Futura";
 src: url("https://julieddkn.com/fonts/futura/Futura%20Heavy%20font.ttf") format("ttf");
}

body {
  text-align: center;
  /* background-color: #F9E0D2; */
  margin: 150px 0;
  font-family: "Futura";
  text-transform: uppercase;
}

#btn-start {
  background-color: white;
  padding: 20px 40px;
  border: 5px solid black;
  font-family: "Futura";
  text-transform: uppercase;
}
#btn-start:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  transition: ease-in-out 0.2s;
}

.score {
  margin-top: 30px;
}

.container {
  width: 600px;
  height: 600px;
  margin: 80px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  position: relative;
}

.container-after {
  width: 600px;
  height: 600px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 10px), calc(-50% + 10px));
  z-index: -1;
}

.pie {
  width: 280px;
  height: 280px;
  border: 10px solid black;
  box-sizing: border-box;
  position: relative;
}

.after {
  width: 280px;
  height: 280px;
  background-color: rgb(223, 223, 223);
  z-index: -1;
}

.pink {
  border-radius: 100% 0 0 0;
  background-color: #FD92DF;
}
.pink-after {
  border-radius: 100% 0 0 0;
}
.pink:hover {
  transition: ease-in-out 0.2s;
  background-color: #e274c3;
  cursor: pointer;
}
.yellow {
  border-radius: 0 100% 0 0;
  background-color: #FEE406;
}
.yellow-after {
  border-radius: 0 100% 0 0;
}
.yellow:hover {
  transition: ease-in-out 0.2s;
  background-color: #d3c543;
  cursor: pointer;
}
.purple {
  border-radius: 0 0 100% 0;
  background-color: #A378FF;
}
.purple-after {
  border-radius: 0 0 100% 0;
}
.purple:hover {
  transition: ease-in-out 0.2s;
  background-color: #8370ac;
  cursor: pointer;
}
.blue {
  border-radius: 0 0 0 100%;
  background-color: #38D9D8;
}
.blue-after {
  border-radius: 0 0 0 100%;
}
.blue:hover {
  transition: ease-in-out 0.2s;
  background-color: #67b3b3;
  cursor: pointer;
}

.push-on {
  animation: push-on .5s ease-in-out;
}

@keyframes push-on {
  0% { transform: translate(0px, 0px); }
  50%   { transform: translate(10px, 10px); }
  100%   { transform: translate(0px, 0px); }
}